{% extends 'base.html.twig' %}

{% block body %}

    <main role="main" style="margin-top: 50px" >

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Video </h1>
                <p class="lead text-muted"> Here You can upload video !</p>
                <p>

                    <a href="{{ path('new_video') }}" class="btn btn-info my-2" id="add_bottom">Add Video</a>

                </p>
            </div>
        </section>

        <div class=" py-5 bg-light">
            <div class=" flex-column">

                <div class="row">

                    {% for video in videos %}
                        <div class="col-md-6  offset-md-0">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="{{ asset('img/img2.jpeg') }}" alt="Card image cap">
                                <div class="card-body">
                                    <h3>{{ video.title }}</h3>
                                    <p class="card-text">
                                        {{ video.description|slice(0, 250)}} ...
                                         </p>
                                    <a href="{{  path('show_video', {id: video.id})}}" class="btn btn-info">Details</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
           </div>
        </div>
    </main>

{% endblock %}