{% extends 'base.html.twig' %}


{% block body %}

      <div class="container" >
            <div class="row">
                 <div class="col-md-12">

                      {%  if is_granted('IS_AUTHENTICATED_FULLY') %}

                            <a href="{{ path('home') }}" class="btn btn-secondary">Back</a>
                            <br> <br>

                            <h1>New Video</h1>

                            {{ form_start(form) }}

                            {{ form_widget(form) }}

                            <button type="submit" class="btn btn-info">Save</button>
                            {{ form_end(form) }}
                 </div>
            </div>

            <div class="row">
                    <div class="col-md-12">

                     {% else %}
                         <div class="jumbotron" id="mess">
                             <h1>Please login to add the video !</h1>
                             <a class="btn btn-info" href="{{ path('login') }}">Login</a>  <a  href="{{ path('user_registration') }}"><span style="color: #807C78"> or Register </span> </a>
                         </div>

                    </div>
                 {%  endif %}
            </div>
          </div>

{% endblock %}